{% extends 'layout.html.twig' %}

{% block page_title %}
    Connexion
{% endblock %}

{% block content %}
    <div>
        <h2 class="text-center">
            Connexion
        </h2>

        <div class="text-center">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for message in app.flashes('notice')  %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {{ form(form) }}
        </div>

    </div>
{% endblock %}
