{% extends "layout.html.twig" %}

{% block title %}
    Commandes
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var idBox = '{{ box.id }}';

    var ajaxCommandeProductsList = function(){
        $.ajax({
            method: 'POST',
            url: '{{ url('get_products_commande') }}',
            data: JSON.stringify()
        })
        .done(function(data) {
            //console.log(data);
            for (var i = 0 ; i<data.length ; i++){
                addInCommande(data[i])
            }
        })
        .fail(function() {
            console( "error" );
        });
    };

    var addInCommande = function (produit)
    {
        var url = '/produit/' + produit.id;
        var e = '<tr>' +
            '<th class="id" scope="row">#' + produit.id + '</th>' +
            '<td><a href="' + url + '">' + produit.nom + '</a></td>' +
            '<td>' + produit.prix + '€</td>' +
            '<td style="width: 12%;">' + produit.statut + '</td>' +
            '<td style="width: 58%;">' + produit.description + '</td>' +
            '<td style="width: 12%;text-align: center;"><button onclick="addProduitInStock(this)" class="btn btn-primary">En stock</button></td>' +
            '</tr>';
        $("#produitscommande > tbody").append(e);
    };

    var ajaxStockProductsList = function(){
        $.ajax({
            method: 'POST',
            url: '{{ url('get_products_in_stock') }}',
            data: JSON.stringify()
        })
        .done(function(data) {
            //console.log(data);
            for (var i = 0 ; i<data.length ; i++){
                addInStock(data[i])
            }
        })
        .fail(function() {
            console( "error" );
        });
    };

    var addInStock = function (produit)
    {
            var url = '/produit/' + produit.id;
            var e = '<tr>' +
                '<th class="id" id="' + produit.id + '" scope="row">#' + produit.id + '</th>' +
                '<td><a href="' + url + '">' + produit.nom + '</a></td>' +
                '<td>' + produit.prix + '€</td>' +
                '<td style="width: 12%;">' + produit.statut + '</td>' +
                '<td style="width: 58%;">' + produit.description + '</td>' +
                '</tr>';
        $("#produitsstock > tbody").append(e);
    };

    var addProduitInStock = function(event)
    {
        var idProduct = parseInt(event.parentElement.parentElement.querySelector('.id').textContent.slice(1));
        console.log(event.parentElement.parentElement.querySelector('.id').textContent.slice(1));
        ajaxAddProductToStock(event.parentElement.parentElement, idProduct);
    };

    var ajaxAddProductToStock = function(element, idProduit){
        $.ajax({
            method: 'POST',
            url: 'api/stock/' + idProduit,
            data: JSON.stringify({
                idProduit: idProduit
            })
        })
            .done(function(data) {
                element.lastChild.remove();
                element.childNodes[3].textContent = "en stock";
                $("#produitsstock > tbody").append(element);
            })
            .fail(function() {
                console( "error" );
            });
    };


    $(document).ready(function()
    {
        ajaxCommandeProductsList();
        ajaxStockProductsList();
    });
</script>
{% endblock %}

{% block content %}

    <div style="width: 90%;margin: 20px auto;">
        <h4>En cours de livraison</h4>
        <table id="produitscommande" class="table">
            <tbody>
            </tbody>
        </table>

        <h4>En stock</h4>
        <table id="produitsstock" class="table">
            <tbody>
            </tbody>
        </table>
    </div>

{% endblock %}
