{% extends "layout.html.twig" %}

{% set active = 'produit' %}

{% block title %}
    Produit
{% endblock %}

{% block content %}

<div style="width: 90%;margin: 20px auto;">
    <h2>{{ produit.nom|title }}</h2>

    <ul class="list-group">
        <li class="list-group-item">Fournisseur : <a href="{{ path('fournisseur_details', {'id':fournisseur.id}) }}">{{ fournisseur.nom }}</a></li>
        <li class="list-group-item">Prix : {{ produit.prix }}€</li>
        <li class="list-group-item">Statut : </li>
    </ul>
</div>

{% endblock %}
